# Warm up
Let's start with some warm up exercises to get you familiar with the database and do some SQL querying.
Make sure to have downloaded the NBA dataset form Kaggle as described in the README.

In [1]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

## TODO: Use pathlib to get the path to the data directory. Path(__file__) won't work in a Jupyter notebook.
DATA_PATH = Path.cwd() / 'data'

## Create a SQLite connection and run some SQL queries

In [7]:
con = sql.connect("data/nba.sqlite")  # connect to the database
query = 'SELECT * FROM game LIMIT 10'  # write a query that selects the first 10 rows from the game table
top_10_game = pd.read_sql(query, con)  # read the query into a pandas dataframe
top_10_game.head()  # print the dataframe

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,None,None,None,None,None,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,None,None,None,None,None,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,None,None,None,None,None,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,None,None,None,None,None,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,None,None,None,None,None,NaN,50.0,17,0,Regular Season

In [26]:
# let's look at the schema of the database
# TODO: sqlite_master is the name of the table you want to inspeact: Replace TABLE_NAME with the name of the table you want to inspect
query = """
SELECT name
FROM sqlite_master
WHERE type='table';
"""
pd.read_sql(query, con).sort_values('name')

                   name
10   common_player_info
13  draft_combine_stats
14        draft_history
0                  game
5             game_info
1          game_summary
4      inactive_players
6            line_score
3             officials
2           other_stats
7          play_by_play
8                player
9                  team
11         team_details
12         team_history
15     team_info_common

In [27]:
# let's see all the tables we have in the database
# TODO: Filter for tables only
query = """
SELECT name
FROM sqlite_master
WHERE type='table';
"""

pd.read_sql(query, con)

                   name
0                  game
1          game_summary
2           other_stats
3             officials
4      inactive_players
5             game_info
6            line_score
7          play_by_play
8                player
9                  team
10   common_player_info
11         team_details
12         team_history
13  draft_combine_stats
14        draft_history
15     team_info_common

In [28]:
# let's have a look at the columns in the game table
query = """
    PRAGMA table_info(draft_combine_stats)
"""
pd.read_sql(query, con)

    cid                          name  type  notnull dflt_value  pk
0     0                        season  TEXT        0       None   0
1     1                     player_id  TEXT        0       None   0
2     2                    first_name  TEXT        0       None   0
3     3                     last_name  TEXT        0       None   0
4     4                   player_name  TEXT        0       None   0
5     5                      position  TEXT        0       None   0
6     6               height_wo_shoes  REAL        0       None   0
7     7         height_wo_shoes_ft_in  TEXT        0       None   0
8     8                height_w_shoes  REAL        0       None   0
9     9          height_w_shoes_ft_in  TEXT        0       None   0
10   10                        weight  TEXT        0       None   0
11   11                      wingspan  REAL        0       None   0
12   12                wingspan_ft_in  TEXT        0       None   0
13   13                standing_reach  REAL        0       None   0
14   14          standing_reach_ft_in  TEXT        0       None   0
15   15                  body_fat_pct  TEXT        0       None   0
16   16                   hand_length  TEXT        0       None   0
17   17                    hand_width  TEXT        0       None   0
18   18        standing_vertical_leap  REAL        0       None   0
19   19             max_vertical_leap  REAL        0       None   0
20   20             lane_agility_time  REAL        0       None   0
21   21    modified_lane_agility_time  REAL        0       None   0
22   22          three_quarter_sprint  REAL        0       None   0
23   23                   bench_press  REAL        0       None   0
24   24      spot_fifteen_corner_left  TEXT        0       None   0
25   25       spot_fifteen_break_left  TEXT        0       None   0
26   26          spot_fifteen_top_key  TEXT        0       None   0
27   27      spot_fifteen_break_right  TEXT        0       None   0
28   28     spot_fifteen_corner_right  TEXT        0       None   0
29   29      spot_college_corner_left  TEXT        0       None   0
30   30       spot_college_break_left  TEXT        0       None   0
31   31          spot_college_top_key  TEXT        0       None   0
32   32      spot_college_break_right  TEXT        0       None   0
33   33     spot_college_corner_right  TEXT        0       None   0
34   34          spot_nba_corner_left  TEXT        0       None   0
35   35           spot_nba_break_left  TEXT        0       None   0
36   36              spot_nba_top_key  TEXT        0       None   0
37   37          spot_nba_break_right  TEXT        0       None   0
38   38         spot_nba_corner_right  TEXT        0       None   0
39   39   off_drib_fifteen_break_left  TEXT        0       None   0
40   40      off_drib_fifteen_top_key  TEXT        0       None   0
41   41  off_drib_fifteen_break_right  TEXT        0       None   0
42   42   off_drib_college_break_left  TEXT        0       None   0
43   43      off_drib_college_top_key  TEXT        0       None   0
44   44  off_drib_college_break_right  TEXT        0       None   0
45   45               on_move_fifteen  TEXT        0       None   0
46   46               on_move_college  TEXT        0       None   0

In [31]:
# let's find the earliest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""

print(pd.read_sql(query, con))

# let's find the latest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date DESC
    LIMIT 1 
"""

print(pd.read_sql(query, con))

             game_date
0  1946-11-01 00:00:00
             game_date
0  2023-06-12 00:00:00

In [33]:
# TODO: Find four interesting facts about the data and write a query to find the answer

#Insight 1: Which home team has the most home wins?

query = """
   SELECT team_name_home AS home_team, COUNT(*) AS wins_as_home
FROM game
WHERE wl_home = 'W'
GROUP BY home_team
ORDER BY wins_as_home DESC
LIMIT 10;
"""

print(pd.read_sql(query, con))

                home_team  wins_as_home
0          Boston Celtics          2200
1      Los Angeles Lakers          1850
2         New York Knicks          1763
3         Detroit Pistons          1522
4            Phoenix Suns          1480
5      Philadelphia 76ers          1467
6       San Antonio Spurs          1448
7           Chicago Bulls          1443
8         Milwaukee Bucks          1425
9  Portland Trail Blazers          1422

In [ ]:
#Insight 2: Average Physical Measurements of NBA Prospects
query = """
SELECT 
    AVG(height_w_shoes) AS avg_height,
    AVG(wingspan) AS avg_wingspan,
    AVG(weight) AS avg_weight
FROM draft_combine_stats;
"""

print(pd.read_sql(query, con))

   avg_height  avg_wingspan  avg_weight
0   78.788963     82.402286  215.254828

In [ ]:
#Insight 3: Home Teams Win More Often
query = """
SELECT
    wl_home,
    COUNT(*) AS games_count
FROM game
GROUP BY wl_home;

"""

print(pd.read_sql(query, con))

  wl_home  games_count
0    None            2
1       L        25047
2       W        40649

In [41]:
#Insight 4: Which Position Has the Most Players?
query = """
SELECT
    position,
    COUNT(*) AS player_count
FROM draft_combine_stats
GROUP BY position
ORDER BY player_count DESC;
"""

print(pd.read_sql(query, con))

   position  player_count
0        PF           289
1        PG           263
2        SG           239
3        SF           194
4         C           135
5     SG-SF            95
6      PF-C            83
7     PG-SG            63
8     SF-PF            62
9      C-PF            62
10    PF-SF            55
11    SF-SG            48
12    SG-PG            40
13                      5